<footer class="dark blue-gradient">
	<div class="content" style="height: 100%">
		<div class="flex flex-wrap" style="height: 100%">
			{{ partial "contact.gohtml" . }}
			<div class="f5 white mt2 flex w-100">
				<p class="mb1 self-end w-100 tc">Copyright © 2017-{{ now.Year }} SQL Defender. SQL Defender is not endorsed or affiliated with The PostgreSQL Global Development Group.</p>
			</div>
		</div>
	</div>
</footer>