<footer class="dark blue-gradient">
	<a name="footer"></a>
	<div class="content">
		{{ partial "contact.gohtml" . }}
		<div class="f5 white tc mv4">
			<p class="mb1">Copyright © 2017-{{ now.Year }} SQL Defender. SQL Defender is not endorsed or associated with The PostgreSQL Global Development Group.</p>
			<p>The PostgreSQL elephant logo and the names "PostgreSQL" and "Postgres" are registered trademarks of the PostgreSQL Community Association of Canada.</p>
		</div>
	</div>
</footer>