<header>
	<div class="content">
		<div class="ma2 flex flex-column flex-row-ns justify-between-ns items-center">
			<div class="">
				{{ partial "logo.gohtml" . }}
			</div>
			<div class="">
				{{ partial "menu.gohtml" . }}
			</div>
		</div>
	</div>
	{{ partial "signup.gohtml" . }}
</header>