<h1 class="logo b tc">
	<a title="Home" href="/">
		<img alt="Secure Database" src="/images/logo-icon.svg" width="64" height="64" />
		<span class="yellow">SQL</span>
		<span class="blue-dark">Defender</span>
	</a>
</h1>