<!DOCTYPE html>
<html lang="en">
	{{ partial "head.gohtml" . }}
	<body>
		<div class="page">
			{{ partial "header.gohtml" . }}
			<main>
				<section>
					<div class="content">
						<div class="flex">
							{{ range $section := .Params.sections }}
								{{ range index .Params.faq $section }}
									{{ partial "question.gohtml" . }}
								{{ end }}
							{{ end }}
						</div>
					</div>
				</section>
				{{ partial "signup.gohtml" . }}
			</main>
			{{ partial "footer.gohtml" . }}
		</div>
	</body>
</html>